<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/habits/create" , id="new-post-form" method="POST">
      <textarea
        name='title'
        cols="30"
        rows="3"
        placeholder="type here ...."
      ></textarea>
      <input type="text" name="desc" placeholder="user desc"/>
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
