.habit-list-box {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;

  .border-box {
    position: absolute;
    left: 50px;
    top: 14%;
    color: white;
    display: flex;
    align-items: center;
    rotate: 23deg;

    .primary {
      rotate: -23deg;
      margin-left: 50px;
      margin-bottom: 10px;
      font-weight: 200;
      font-size: 13px;
      font-family: "Roboto", sans-serif;
    }
    .borders {
      position: absolute;
      width: 445px;
      border: 1px solid white;

      left: 112px;
    }
  }
  .add-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    height: 80px;
    width: 100px;

    .icon {
      color: white;
      font-size: 25px;
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(30deg, #34224a, #3f3089, #2d77c9, #a3476d);
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid #ef8e06;

      h3 {
        position: absolute;
        color: white;
        height: auto;
        font-size: 15px;
        font-weight: 400;
        width: auto;
        padding: 5px 8px;
        background-color: rgb(92, 92, 92);
        border-radius: 10px;
        top: -9px;
        display: none;
        transition: all 0.4s ease;
      }
    }
    .icon:hover .none {
      display: block;
    }
    .icon:hover .flex {
      display: none;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #c3bdb5;
    position: relative;
    height: 460px;
    width: 700px;
    border-radius: 30px;
    padding: 28px 50px;

    #form-box {
      position: absolute;
      height: 395px;
      width: 209px;
      top: 10%;
      border-radius: 30px;
      display: flex;
      z-index: 2;
      align-items: center;
      justify-content: center;
      border: 1px solid #3f3e3e;
      cursor: pointer;
      .band1 {
        height: 2px;
        width: 3px;
        left: 80%;
        top: 0;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band2 {
        height: 3px;
        width: 2px;
        right: 0;
        top: 10%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band3 {
        height: 3px;
        width: 2px;
        right: 0;
        top: 85%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band4 {
        height: 3px;
        width: 2px;
        left: 0;
        top: 10%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band5 {
        height: 3px;
        width: 2px;
        left: 0;
        top: 85%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .button1 {
        height: 15px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 20%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button2 {
        height: 26px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 28%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button3 {
        height: 26px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 37.5%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button4 {
        height: 37px;
        width: 1px;
        right: -3.5px;
        border-radius: 30px;
        top: 30%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .mobile-wallpaper {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 390px;
        width: 195px;
        background-image: url("https://www.ytechb.com/wp-content/uploads/2023/09/iPhone-15-Pro-Natural-Wallpaper-5.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 7px;
        top: 7px;
        border-radius: 22px;
        .mobile-speaker {
          margin-top: 6px;
          height: 16px;
          width: 65px;
          background-color: black;
          border-radius: 10px;
          display: flex;
          justify-content: end;
          align-items: center;
          .mobile-lense {
            margin-right: 6px;
            height: 8px;
            width: 8px;
            background-image: url("https://pngimg.com/uploads/camera_lens/camera_lens_PNG102222.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      .black-border {
        box-shadow: 0px 4px 2px rgb(34, 34, 34);
        height: 400px;
        width: 205px;
        background-color: black;
        border: 2px solid #bdb6ad;
        border-radius: 30px;
      }
    }
    #form-box_ {
      position: absolute;
      height: 395px;
      width: 209px;
      top: 10%;
      right: 18%;
      border-radius: 30px;
      display: flex;
      z-index: 500;
      align-items: center;
      justify-content: center;
      border: 1px solid #3f3e3e;
      .band1_ {
        height: 2px;
        width: 3px;
        left: 80%;
        top: 0;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band2_ {
        height: 3px;
        width: 2px;
        right: 0;
        top: 10%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band3_ {
        height: 3px;
        width: 2px;
        right: 0;
        top: 85%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band4_ {
        height: 3px;
        width: 2px;
        left: 0;
        top: 10%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .band5_ {
        height: 3px;
        width: 2px;
        left: 0;
        top: 85%;
        background-color: rgb(136, 130, 130);
        position: absolute;
      }
      .button1_ {
        height: 15px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 20%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button2_ {
        height: 26px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 28%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button3_ {
        height: 26px;
        width: 1px;
        left: -2.1px;
        border-radius: 30px;
        top: 37.5%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .button4_ {
        height: 37px;
        width: 1px;
        right: -3.5px;
        border-radius: 30px;
        top: 30%;
        background: linear-gradient(
          30deg,
          rgb(94, 94, 94),
          rgb(112, 112, 112),
          #adadad
        );
        position: absolute;
        z-index: 400;
        border: 1px solid rgb(126, 124, 124);
      }
      .mobile-wallpaper_ {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 390px;
        width: 195px;
        background-image: url("https://www.ytechb.com/wp-content/uploads/2023/09/iPhone-15-Wallpaper-2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 7px;
        top: 7px;
        border-radius: 22px;
        .mobile-speaker_ {
          margin-top: 6px;
          height: 16px;
          width: 65px;
          background-color: black;
          border-radius: 10px;
          display: flex;
          justify-content: end;
          align-items: center;
          .mobile-lense_ {
            margin-right: 6px;
            height: 8px;
            width: 8px;
            background-image: url("https://pngimg.com/uploads/camera_lens/camera_lens_PNG102222.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      .black-border_ {
        box-shadow: 0px 4px 2px rgb(34, 34, 34);
        height: 400px;
        width: 205px;
        background-color: black;
        border: 2px solid #bdb6ad;
        border-radius: 30px;
      }
      #new-habit-form {
        position: absolute;
        top: 10%;
        
      }
    }

    .ipad-button {
      height: 35px;
      width: 35px;
      background-color: rgb(0, 0, 0);
      position: absolute;
      top: 46%;
      right: 5px;
      border-radius: 50%;
      border: 2px solid rgb(49, 49, 49);
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
    .ipad-button:hover {
      scale: 0.97;
    }
    .camera-style {
      position: absolute;
      height: 20px;
      width: 40px;
      background-color: #202020;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      top: 4px;
      .front-camera {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17px;
        width: 17px;
        border-radius: 50%;

        background-color: rgb(0, 0, 0);
        .front-camera-dot {
          height: 9px;
          width: 9px;
          border-radius: 40%;
          background: linear-gradient(40deg, #0d1838, #011b38);
        }
      }
    }

    .circle {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: linear-gradient(30deg, #f0740f, #f7ab07, #e66b06, #fa3b19);
      position: absolute;
      left: 87%;
      top: 40px;
    }

    .speaker {
      position: absolute;
      height: 20px;
      width: 140px;
      top: 46%;
      left: -45px;
      background-color: rgb(32, 32, 32);
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      rotate: 270deg;
      .border {
        width: 37%;
        height: 2px;
        border: 1px solid rgb(136, 135, 135);
        border-radius: 10px;
        margin-top: -2px;
      }
      .camera {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        right: 20px;
        top: 2px;
        background-color: black;
        .dot {
          height: 8px;
          width: 8px;
          border-radius: 40%;
          background: linear-gradient(40deg, #0d1838, #011b38);
        }
      }
    }
    .habit-list {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      // border-radius: 20px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(30deg, #34224a, #3f3089, #2d77c9, #a3476d);
      align-items: start;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 25px 0px;

      .habit-view {
        min-height: 100px;
        width: 320px;
        padding: 15px 20px 10px 20px;
        .habit-view-item {
          display: flex;
          justify-content: space-between;
          padding: 0px 10px 20px 20px;
          .left-side {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            h3 {
              color: rgb(255, 255, 255);
              font-weight: 400;
              font-family: sans-serif;
              font-size: 16px;
              font-weight: 400;
              height: 22px;
              border-radius: 5px;
              width: 130px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.363);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .control-button {
              display: flex;
              gap: 1rem;
              color: rgb(230, 230, 230);
              margin-left: -10px;
              i {
                height: 23px;
                width: 23px;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: rgb(0, 0, 0);
              }
            }
          }

          .time-desc {
            display: flex;
            flex-direction: column;

            .time {
              color: rgb(221, 221, 221);
              font-size: 0.8rem;
              font-weight: 400;
            }
            .desc {
              height: auto;
              width: 90px;
              color: black;
              border-radius: 5px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.363);
              font-size: 0.8rem;
              margin-top: -12px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .habit-list::-webkit-scrollbar {
    display: none;
  }
}
